body{
    background-color: #7dd0d6;
}
.logo{
    font-size: 35px;
    font-family: Algerian;
    float: left;
    color: rgb(32, 116, 53);
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
}

ul li{
    font-size: 17px;
    margin-left: 40px;
    margin-top: 10px;
    list-style: none;
    color: #5a1630;
}

ul li a{
    text-decoration: none;
    color: #1bbec4;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s ease-in-out;
    line-height: 5px;
}
ul li a:hover{
    background-color: aqua;
}

.search{
    float: right;
    margin-top: 50px;
    margin-left: 30px;
    padding: 5px;
    margin-right: 100px;
    background: transparent;
}

.srch{
    border: 2px solid blueviolet;
    border-radius: 50px;
    height: 40px;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    padding: 10px;
    color: rgb(222, 61, 228);
}

.btn{
    margin-left: 10px;
    padding:10px;
    border: 2px solid blueviolet;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(190, 34, 144);
    width: 70px;
    height: 40px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}